@* @model DataTransferObject.Requests.DTOMOURequest
     *@
@model Domain.Requests.DTORegistraionRequest
@{
    ViewData["Title"] = "Index";
    Layout = "_layout";
}
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Antiforgery
@{
    var tokens = Antiforgery.GetAndStoreTokens(Context);
}

<section class="section">
    <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h4 class="card-title">User Request</h4>
            @* <div class="d-flex">
                <button type="button" class="btn btn-outline-info" id="btninfo" data-toggle="modal" data-target="#info">
                    <i data-feather="plus"></i>
                </button>
            </div> *@
        </div><input type="hidden" name="__RequestVerificationToken" value="@tokens.RequestToken" />
        <div class="card-body">
            <div class="table-responsive">
                <!-- Wrap table with table-responsive -->
                <table class="table table-striped" id="tblData">
                    <thead>
                        <tr>
                            <th>S.No</th>
                            <th>UserName</th>
                            
                            <th>Rank</th>
                            <th>Name</th>

                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody id="UserApprovalBody">
                    </tbody>
                </table>
            </div>
        </div>
    </div>

   
   
</section>


<script src="~/developerjs/userapproval.js"></script>