
<!DOCTYPE html>
@{
    ViewData["Title"] = "Final Logout";
    Layout = null;
}
<link href="~/css/logout.css" rel="stylesheet" />
<html>
<head runat="server">
    <title>IAM Logout</title>

</head>
<body>
    <form id="form1" runat="server">

        <header>
            <center>

                <a href="/Account/Login" class="headerText" id="headerCustText">You are successfully logged out of the application</a>
            </center>

        </header>
        <div class="quick-area">
        </div>
    </form>



</body>
</html>
<script src="~/developerjs/logout.js"></script>