
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100dvh;
}

body {
    display: flex;
    align-items: center; /* vertical center */
    justify-content: center; /* horizontal center */
    font-family: Arial, sans-serif;
}


    /* Background layer with blur */
    body::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-image: url('../images/deng-xiang.jpg');
        background-size: cover;
        background-position: center;
        filter: blur(1px);
        z-index: -1;
    }

.login-card {
    background: #1f53c945;
    border-radius: 15px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    padding: 30px;
    width: 100%;
    max-width: 400px;
    position: relative;
    z-index: 1; /* Keep above blurred background */
}

.company__logo {
    font-size: 50px;
    color: #4CAF50;
}

.form__input {
    border-radius: 8px;
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}

.btn-login {
    background-color: #4CAF50;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    transition: 0.3s;
}

    .btn-login:hover {
        background-color: #45A049;
    }

.footer {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
    color: white;
}
